# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b97ca295c1c2e7074c01d3ee86568cd937d5b7f3dae75884965dd949b134131bc0b2518afa704b78a593459c164c92bfbd374661554af36330cc7b213ff7cd5a

test:
  secret_key_base: 0d4da107e4a1bd1f3b695daed270594dfb7dd532c370f3ca0daac796b0189cf4295d65671b6b26c42b2ed9716b97c0759524e54f0f2167d9bb5ae8d1c8e49a9b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
